VITE_APPWRITE_ENDPOINT="your-appwrite-endpoint"
VITE_APPWRITE_PROJECT_ID="your-appwrite-project-id"
VITE_APPWRITE_DB_ID="your-appwrite-database-id"
VITE_APPWRITE_TODOS_COLLECTION_ID="your-appwrite-todos-collection-id"
VITE_APPWRITE_STORAGE_BUCKET_ID="your-appwrite-storage-bucket-id"